<div class="panel panel-default-checknow-white">
  <div class="col-md-6 col-md-offset-4">
    <%= link_to root_path  do %>
     <%= image_tag "logo2.png" %>
    <% end %>
  </div>
</div>
<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default-checknow-blue">
  <div class="col-md-5 col-md-offset-3">
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'devise/shared/links' %>
