<%= form_for @case, :html => { :class => "form-horizontal case" } do |f| %>

  <% if @case.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@case.errors.count, "error") %> prohibited this case from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @case.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :public_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :public_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:public_id) %>
  </div>
  <div class="form-group">
    <%= f.label :status_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :status_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:status_id) %>
  </div>
  <div class="form-group">
    <%= f.label :action_plan, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :action_plan, :class => 'form-control' %>
    </div>
    <%=f.error_span(:action_plan) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <% if current_user and current_user.admin? %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    cases_path, :class => 'btn btn-default' %>
        <% else %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      mycases_path, :class => 'btn btn-default' %>
        <% end %>
    </div>
  </div>

<% end %>
