
  <div class="container white-body">
    <div class="row"> 
    <% if !current_user %>
      <div class="col-lg-12 col-md-offset-2">
        <%= image_tag "logo2.png", class: 'welcomepic'%>
      </div>
      <div class="col-lg-12">
        <div class="well well-lg">
          <h2 class="text-center">CheckNow's Desciption</h2>
          <h4>CheckNow born as a WFH assistance tool to help the managers to get access to reports of work from his employees
          while they are working from home.
          </h4>
          <h4>
            This tool have a module for the employees two, they can have a control of the cases they are working and, at the end 
            of the chieft, they can send a report to the manager.
          </h4>
        </div>
    <% else %>
      <div class="col-lg-10">
        <h1 class="text-center">Welcome <%= current_user.name %> </h1>
        <div class="well text-center">
          <h2>When you feel ready to start, push the button!</h1>
          <%= button_to current_user.status ? "Check-in" : "Check-out" , { action: "update_status" }, class: current_user.status ? "btn btn-lg btn-success" : "btn btn-lg btn-danger" %>
          <h3><small>Your current state is <strong><%= current_user.status ? "Inactive" : "Active" %></strong></small></h3>
        </div>
    <% end %>
 















