<div class="panel panel-default-checknow-white">
  <div class="col-md-6 col-md-offset-4">
    <%= link_to root_path  do %>
     <%= image_tag "logo2.png" %>
    <% end %>
  </div>
</div>

<div class="panel panel-default-checknow-blue">
  
  <div class="col-md-3 col-md-offset-4">
    <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="checkbox">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %> <%= t('.remember_me', default: 'Remember me') %>
          <% end %>
        </div>
        <div class="col-sm-7 col-sm-offset-3">
          <%= render 'devise/shared/links' %>
        </div>
      <% end %>
      <%= f.submit  t('.sign_in', default: 'Sign in'), class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
  </div>
  
  
</div>

