<h1> Users </h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Roster</th>
      <th>Position</th>
      <th>Team</th>
      <th>Last activity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'roster', obj: @allusers %>
  </tbody>
</table>