<h1> <%= @mywork.name %>'s cases</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>public_id </th>
      <th>status</th>
      <th>Action plan</th>
      <th>Created by</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render 'cases/cases', obj: @mywork.cases %>
  </tbody>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_case_path,
            :class => 'btn btn-primary' %>