$blueck: #4899c8;
$whiteck: #fff;

.blue-body{
  background: $blueck;
  
}

.white-body{
  background : $whiteck;
  border-radius: 5px;
  padding-top: 2rem;
}

.table{
 background: $whiteck; 
}

.panel-default-checknow-blue{
  background: $blueck;
  height : 65rem;
  
  @media only screen and (max-width: 1690px){
      height : 65rem;
  }
  
  .panel-body{
    border-radius:5px;
    margin-top: 3rem;
    background: $whiteck;
    
    .btn-lg{
      margin-top: 5px;
      width: 42rem;
    }
   
  }
  
}

 @media only screen and (max-width: 1600px){
   .panel-default-checknow-blue{
      height : 50rem;
      
      .panel-body{
        .btn-lg{
          width: 33rem;
        }
      }
    }
  }

.panel-default-checknow-white{
  background: $whiteck;
  height : 28rem;
  
  img{
    width: 35rem;
  }
}
.user-name {

  padding: 0 !important ;
  
  padding-left: 5px;
  
  padding-top: 15px !important;
  
  text-align: center;

a {

  color: black !important;
  
  margin: 0 !important;
  
  padding: 5px!important;

  }
  
  a:hover, a:focus {

  color: #000 !important;

  }

}

.logout {

  padding-left: 0;

}

.navbar-brand{
  
  margin-top: -14px;
  img{
    width:14rem;
    
  }
}

.nav.navbar-right {

  padding-bottom: 10px;
  
  padding-top: 5px;

}

.nav.navbar-nav {

  .navbar-link {
  
    border-radius: 5px;
    
    color: #fff;
    
    margin-top: 15px;
    
    padding: 8px;
  
  }
  
  .navbar-link:focus, .navbar-link:hover {
  
    background: #3071a9;
    
    color: #fff;
  
  }
  
  li a {
  
    margin-right: 5px;
  
  }

}

.nav.navbar-right li {

  .btn {
  
    color: #fff !important;
    
    margin-top: 5%;
  
  }

  .btn-danger:hover, .btn-danger:focus {
  
    background-color: darken(#d9534f,20%) !important;

  }

  .btn-primary:hover, .btn-primary:focus {

    background-color: darken(#428bca,20%) !important;

  }

}

.btn-primary:visited, .btn-danger:visited {

  color: #fff;

}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}