<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "TekFromhome" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body class="blue-body">
    <% unless (controller_name=="registrations" && action_name=='new') || (controller_name=="sessions" && action_name=='new')%>
      <div class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%#= link_to "Tek-From-Home", root_path, class:"navbar-brand "%>
          <%= link_to root_path, class:"navbar-brand " do %>
           <%= image_tag "logo3.png"%>
          <% end %>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
              <% if current_user and current_user.admin? %>
                <ul class="nav navbar-nav">
                  <li><%= link_to "Teams", teams_path  %></li>
                  <li><%= link_to "Positions", positions_path  %></li>
                  <li><%= link_to "Cases", cases_path  %></li>
                </ul>
              <% end %>
              <ul class="nav navbar-right col-md-4">
                <% if current_user %>
                  <li class="col-md-8 user-name">
                  <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe, edit_user_registration_path, title: 'Edit Profile' %>
                  </li>
                  <li class="col-md-1"> </li>
                  <li class="col-md-3 logout"><%= link_to('Logout', destroy_user_session_path, class: 'btn btn-xs btn-danger', title: 'Logout', :method => :delete) %></li>
                <% else %>
                  <li class="col-md-4 pull-right">
                  <%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary', title: 'Sign In') %>
                  </li>
                   <li class="col-md-4 pull-right">
                  <%= link_to('Sign up', new_user_registration_path, class: 'btn btn-primary', title: 'Sign In') %>
                  </li>
                <% end %>
              </ul>
            </div>
        </div>
      </div>
  
      <div class="container white-body">
        <div class="row">
          <div class="col-lg-10">
    <% end %>
            <%= bootstrap_flash %>
            
            <%= yield %>
          </div>
          <% if current_user %>
            <div class="col-lg-2">
              <div class="well sidebar-nav">
                <h3>Menu</h3>
                <ul class="nav nav-list">
                  <li class="nav-header">Actions</li>
                  <li><%= link_to "My cases", mycases_path  %></li>
                  <li><%= link_to "My team", myteam_path  %></li>
                </ul>
              </div><!--/.well -->
            </div><!--/span-->
          <% end %>
        </div><!--/row-->
  
        <footer>
          <p></p>
        </footer>
  
      </div> <!-- /container -->
    
  </body>
</html>
